<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authbyuser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
</nav>
<h1 class="text-center text-success">Hospital Management</h1>
<div class="container">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName">First Name</label>
                <input name="first_name" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">Last Name</label>
                <input name="last_name" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputProfilePicture">Profile Picture</label>
                <input name="profile_picture" type="file" class="form-control" id="inputProfilePicture">
            </div>
            <div class="form-group col-md-6">
                <label for="inputUsername">Username</label>
                <input name="username" type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input name="email" type="email" class="form-control" id="inputEmail">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
                <label for="inputConfirmPassword">Confirm Password</label>
                <input name="confirm_password" type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Address</label>
                <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Address 2</label>
                <input name="address1" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>

    <div class="form-group">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
